 /**************************/
 .btn-active{
    background-color: rgb(255, 145, 0);
    width: 260px;
  }
        
  body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
}
.Save-btn{
    margin-top: 20px;
    cursor: pointer;
  --b: 3px;   /* border thickness */
  --s: .45em; /* size of the corner */
  --color: #373B44;
  
  padding: calc(.2em + var(--s)) calc(.5em + var(--s));
  color: var(--color);
  --_p: var(--s);
  background:
    conic-gradient(from 90deg at var(--b) var(--b),#0000 90deg,var(--color) 0)
    var(--_p) var(--_p)/calc(100% - var(--b) - 2*var(--_p)) calc(100% - var(--b) - 2*var(--_p));
  transition: .3s linear, color 0s, background-color 0s;
  outline: var(--b) solid #0000;
  outline-offset: .6em;
  font-size: 16px;
  border: 0;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.Save-btn:hover,
.Save-btn:focus-visible{
  --_p: 0px;
  outline-color: var(--color);
  outline-offset: .05em;
}

.Save-btn:active {
  background: var(--color);
  color: #fff;
}















.container {
    max-width: 1000px;
    margin: 0 auto;
}
.ftco-section {
    padding: 10px 0;
    
}

.table-wrap {
    overflow-x: auto;
    border-radius: 10px;
}

table {
    width: 100%;
    max-width: 100%;
    background-color: #fff;
    border-collapse: collapse;
    border-spacing: 0;
    border: 1px solid #dee2e6;
    border-radius: 10px;
}

th, td {
    padding: 15px;
    text-align: center;
}

th {
    background-color: #343a40;
    color: #fff;
}

tbody tr:nth-child(even) {
    background-color: #f2f2f2;
}

tbody tr:hover {
    background-color: #e0e0e0;
}

[contenteditable="true"]:focus {
    outline: none;
    background-color: #fffad6;
}

